{{ define "title" -}}
<h1 style="text-decoration-line: underline;">Surya Singh</h1>
<blockquote id="quote"> &ldquo;Neither a fake saint,
	Nor the person in dark.&rdquo;
</blockquote>

<hr style="height:2px;border-width:0;color:white;background-color:white">

<br>

<nav id="navbar">
	<a href="/">Home</a> /
	<a href="/about">About</a> /
	<a href="/blog">Blog</a> /
	<a href="/contact">Contact</a> 
</nav>

<br>


<br>

<img src="chip8.png" class="front-img" alt="">

<br>

<p>Hello Everyone my Name is Surya P. Singh </p>

<br>
<br>
{{- end }}

