{{ define "title" -}}
<h1 >Surya Singh</h1>
<blockquote id="quote"> &ldquo;Neither a fake saint,
	Nor the person in dark.&rdquo;
</blockquote>

<hr style="height:2px;border-width:0;color:white;background-color:white">

<br>



<br>


<br>

<img src="chip8.png" class="front-img" alt="">

<br>

<p style="font-size: large;">Welcome to my corner of internet, My name is Surya P. Singh. I am a Computer Science Undergrad Student from India interested in Systems Programming, FOSS and Linux. Make sure to visit the <b><a id="stuff" href="/blogs">Blog</a></b> section to know about the things i am working on.

<br>
<br>

Besided Computer Science, my interest and hobbies include chess and retro video games.

<br>
<br>

Make sure to check out my <b><a id="stuff" href="https://github.com/suryapsp" target="_blank">Github</a></b> and you can <b><a id="stuff" href="mailto:suryasingh2522@gmail.com" target="_blank">mail</a></b> me for anything.
</p>

<br>
</p>

<br>
<br>
{{- end }}

