body {
	font-family: sans-serif ;
	background: #121212 ;
	color: #eef536 ;
	font-size: 20px;
}

h1, h2, h3{
	color: pink;
}

pre{
	overflow-x: auto;
	font-size: large;
}

#quote{
	all: unset;
	font-size: 20px;
	font-style: italic;
	text-align: left;
}

a {
	color: inherit;
	text-decoration: none;
	color: rgb(136, 255, 0);
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: left ;
	text-decoration-line: underline;
}

footer {
	text-align: center ;
	clear: both ;
}

li {
	padding-bottom: 15px;
}

#navbar{
	text-align: center;
	color: rgb(171, 255, 74);
	font-size: 20px;
}

#stuff{
	color: rgb(136, 255, 0);
	z-index: 1;
}

.front-img{
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
